.movies {
  max-width: 1140px;
  margin-inline: auto;
  border-top: 1px solid rgba(170, 170, 170, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.movies__list {
  list-style: none;
  margin: 0;
  padding: 80px 0 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 37px;
  column-gap: 24px;
  justify-content: center;
}

.movies__more {
  margin: 60px auto 80px;
  background-color: transparent;
  border-radius: 6px;
  border: 1px var(--color-border-42) solid;
  padding: 11px 0;
  max-width: 320px;
  width: 100%;
  color: var(--color-text-white);
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  cursor: pointer;
  transition: all .2s ease;
}


@media (pointer: fine) {
  .movies__more:hover {
    opacity: .8;
  }
}

@media screen and (max-width: 768px) {
  .movies {
    padding: 0 30px 142px;
  }
  .movies__list {
    gap: 30px;
    padding: 80px 0 30px;
    justify-content: flex-start;
  }
  .movies__more {
    margin: 50px auto 80px;
    padding: 10px 0;
  }
}

@media screen and (max-width: 550px) {
  .movies {
    padding: 0 10px;
  }
  .movies__list {
    padding: 50px 0 26px;
    gap: 14px;
  }
  .movies__more {
    max-width: 240px;
  }
}
