:root {
  /* background color */
  --color-background-gray20: #202020;
  --color-background-gray22: #222222;
  --color-background-gray27: #272727;
  --color-background-gray30: #303030;
  --color-background-blue07: #073042;
  --color-background-input: #2F2F2F;
  /* border color */
  --color-border-aaa: #aaa;
  --color-border-42: #424242;
  --color-border-da: #dadada;
  --color-border-black: #000;
  /* text color */
  --color-text-white: #fff;
  --color-text-black: #000;
  --color-text-gray: #8b8b8b;
  --color-text-red: #ee3465;
  --color-text-blue: #4285F4;
  /* button background */
  --color-button-green: #3DDC84;
  --color-button-blue: #4285F4;
}
