.nav-promo {
  grid-column: 13/17;
  justify-self: end;
  align-self: center;
}

.nav-promo__links {
  display: flex;
  gap: 30px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-promo__link {
  text-decoration: none;
  color: var(--color-text-white);
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  transition: all .2s ease-in;
}

.nav-promo__link:hover {
  opacity: .8;
}

.nav-promo__link_login {
  color: var(--color-text-black);
  background-color: var(--color-button-green);
  border-radius: 3px;
  padding: 8px 20px;
}
